.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}
.small-button {
  width: 40px; /* Điều chỉnh kích thước chiều rộng của nút button */
  height: 40px; /* Điều chỉnh kích thước chiều cao của nút button */
  padding: 5px; /* Điều chỉnh phần đệm của nút button */
  /* Thêm các thuộc tính CSS khác tùy thuộc vào nhu cầu của bạn */
  background-size: cover;
}


.small-button {
  width: 4em; /* Sử dụng đơn vị em để điều chỉnh kích thước */
  height: 4em;
  /* Thêm các thuộc tính CSS khác tùy thuộc vào nhu cầu của bạn */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
